<div class="container">
  <div class="row">
    <div class="col-xs-12 survey-part-1">



      <!--<span class="big-room-count">-->
        <!--<a href="javascript:void();" class="btn btn-primary btn-fab minus_count "> - </a>-->
        <!--<h3 class="room_count">1</h3>-->
        <!--<a href="javascript:void();" class="btn btn-primary btn-fab plus_count "> + </a>-->
      <!--</span>-->

    <div class="text-center card-wrapper" id="enter-zip-wrapper">

      <h4 class="text-center">Lets Start!</h4>

      <form>

        <div class="group">
          <input type="text" required id="zip-code-text-input">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label id="zip-code-label">Zip Code</label>
        </div>

      </form>

      <div class="main-action-button">
        <a href="javascript:void();" class="btn btn-raised btn-primary" id="btn-enter-zip">NEXT
        </a>
      </div>

    </div>


      <div class="text-center card-wrapper" id="enter-building-type-wrapper">

        <h4 class="text-center">Building type</h4>


        <!-- commercial  -->
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">

          <div class="select-box-wrapper building-type-disabled" id="building-type-house">
            <span class="check-span"> <i class="fa fa-check fa-lg" aria-hidden="true"></i> </span>
            <i class="fa fa-home  fa-4x building-type-icon" aria-hidden="true"></i>

            <div class="building-type-text-wrapper">
                 <span class="">House</span>
            </div>
          </div>

        </div>


        <!-- house -->

        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">

          <div class="select-box-wrapper building-type-disabled" id="building-type-apartment">
            <span class="check-span"> <i class="fa fa-check fa-lg" aria-hidden="true"></i> </span>

            <i class="fa fa-building-o  fa-4x building-type-icon" aria-hidden="true"></i>

            <div class="building-type-text-wrapper">
              <span class="">Apartment</span>
            </div>
          </div>

        </div>

        <!-- apartment -->

        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">

          <div class="select-box-wrapper building-type-disabled" id="building-type-commercial">
            <span class="check-span"> <i class="fa fa-check fa-lg" aria-hidden="true"></i> </span>
            <i class="fa fa-university  fa-4x building-type-icon" aria-hidden="true"></i>

            <div class="building-type-text-wrapper">
              <span class="">Commercial</span>
            </div>
          </div>

        </div>

        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">

          <div class="select-box-wrapper building-type-disabled" id="building-type-other">
            <span class="check-span"> <i class="fa fa-check fa-lg" aria-hidden="true"></i> </span>
            <i class="fa fa-ellipsis-h fa-4x building-type-icon" aria-hidden="true"></i>

            <div class="building-type-text-wrapper">
              <span class="">Other</span>
            </div>
          </div>

        </div>


        <div class="main-action-button">
          <a href="javascript:void();" class="btn btn-raised btn-primary" id="btn-building-type">NEXT
          </a>
        </div>

      </div>



    </div>
  </div>
</div>