<div class="container">
  <div class="row">
    <div class="col-xs-12" id="card-wrapper">



      <!--<span class="big-room-count">-->
        <!--<a href="javascript:void();" class="btn btn-primary btn-fab minus_count "> - </a>-->
        <!--<h3 class="room_count">1</h3>-->
        <!--<a href="javascript:void();" class="btn btn-primary btn-fab plus_count "> + </a>-->
      <!--</span>-->

    <div class="text-center card-wrapper" id="enter-zip-wrapper">

      <h4 class="text-center">Lets Start!</h4>

      <form>

        <div class="group">
          <input type="text" required id="zip-code-text-input">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label id="zip-code-label">Zip Code</label>
        </div>

      </form>

      <div class="main-action-button">
        <a href="javascript:void();" class="btn btn-raised btn-primary" id="btn-enter-zip">NEXT
        </a>
      </div>

    </div>


    </div>
  </div>
</div>