<nav class="navbar navbar-default bg-faded">
  <a class="navbar-brand" href="#">PaintMaint
    <i class="fa fa-paint-brush" aria-hidden="true"></i>
    com
  </a>
<div class="slide-menu-icon-wrapper hidden-sm-up" id="open-side-menu-icon">
  <i class="fa fa-ellipsis-v fa-lg slide-menu-icon-image" aria-hidden="true"></i>
</div>
  <div class="side-menu-wrapper side-menu-wrapper-inactive text-transparent" align="center" id="side-menu-wrapper">
    <h3>Here</h3>
    <h4>Will</h4>
    <h5>Be</h5>
    <h6>Menu</h6>

  </div>
</nav>

